extends ../template

block headscript

block content
    h1 Hello app
    .ticket
        h2 Hello ticket
    include ./components/head
    .button1
    //- img(src=require("../../../public/img/Lottery.png"))