header.header
	h3 Hello header
	//- button mixins
	//- anchor buttons
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css")
	script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js")
	block body
		<form id="slider_">
			input(id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="25" data-slider-step="1" data-slider-value="1")
			</p>
			<span id="ex6CurrentSliderValLabel">tickets: <span id="ex6SliderVal">1</span></span>
		</form>
		//- <form id="form">
		//- 	<div class="form-row">
		//- 		<label class="form-label">
		//- 			<span>Введите имя</span>
		//- 			<input type="text" class="form-input" name="name" placeholder="Илья">
		//- 		</label>
		//- 		<label class="form-label">
		//- 			<span>Введите фамилию</span>
		//- 			<input type="text" class="form-input" name="last name" placeholder="Швырялкин">
		//- 		</label>
		//- 	</div>
		//- </form>
		button(type='submit' class='btn btn-warning' onclick='callInit()') init
		button(type='submit' class='btn btn-primary' onclick='callEth()') check eth
		button(type='submit' class='btn btn-primary' onclick='callBet()') check bet
		button(type='submit' class='btn btn-success' onclick='sendApprove1()') approve 0
		button(type='submit' class='btn btn-success' onclick='sendApprove2()') approve
		button(type='submit' class='btn btn-success' onclick='buyTickets()') buyTickets
		button(type='submit' class='btn btn-primary' onclick='checkTickets()') checkTickets
		button(type='submit' class='btn btn-success' onclick='getReward()') getReward
		<hr>
			<div class="btn-group btn-group-sm" role="group">
			<button type="button" id="lineselect" class="btn btn-outline-success">1</button>
			<button type="button" id="lineselect" class="btn btn-outline-success">2</button>
			<button type="button" id="lineselect" class="btn btn-outline-success">3</button>
			<button type="button" id="lineselect" class="btn btn-outline-success">4</button>
			<button type="button" id="lineselect" class="btn btn-outline-success">5</button>
			<button type="button" id="lineselect" class="btn btn-outline-success">6</button>
			<button type="button" id="lineselect" class="btn btn-outline-success">7</button>
			<button type="button" id="lineselect" class="btn btn-outline-success">8</button>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect" class="btn btn-outline-success">9</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">10</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">11</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">12</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">13</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">14</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">15</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">16</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect" class="btn btn-outline-success">17</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">18</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">19</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">20</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">21</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">22</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">23</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">24</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect" class="btn btn-outline-success">25</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">26</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">27</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">28</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">29</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">30</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">31</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">32</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect" class="btn btn-outline-success">33</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">34</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">35</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">36</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">37</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">38</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">39</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">40</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect" class="btn btn-outline-success">41</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">42</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">43</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">44</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">45</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">46</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">47</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">38</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect" class="btn btn-outline-success">49</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">50</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">51</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">52</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">53</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">54</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">55</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">56</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect" class="btn btn-outline-success">57</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">58</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">59</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">60</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">61</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">62</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">63</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">64</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect" class="btn btn-outline-success">65</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">66</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">67</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">68</button>
				<button type="button" id="lineselect" class="btn btn-outline-success">69</button>
				</div>
			</div>
			</p>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect2" class="btn btn-outline-warning">1</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">2</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">3</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">4</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">5</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">6</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">7</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">8</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect2" class="btn btn-outline-warning">9</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">10</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">11</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">12</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">13</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">14</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">15</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">16</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect2" class="btn btn-outline-warning">17</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">18</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">19</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">20</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">21</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">22</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">23</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">24</button>
				</div>
			</div>
			<div>
				<div class="btn-group btn-group-sm">
				<button type="button" id="lineselect2" class="btn btn-outline-warning">25</button>
				<button type="button" id="lineselect2" class="btn btn-outline-warning">26</button>
				</div>
			</div>
	script(type='text/javascript').
		let result = 0
		async function callInit() {
			await MainJS.initAccount()
			console.log(MainJS.getOpenkey())
		}
		async function callEth() {
			let userEth = 0;
			await MainJS.getEthBalance()
				.then(ETH => userEth = ETH)
			console.log(userEth)			
		}
		async function callBet() {
			let userBet = 0;
			await MainJS.getBetBalance()
				.then(BET => userBet = BET)
			console.log(userBet)
		}
		async function sendApprove1() {
			await MainJS.ERC20approve(MainJS.returnAddressLottery(), 0)
		}
		async function sendApprove2() {
			await MainJS.ERC20approve(MainJS.returnAddressLottery(), 40 * 10 ** 18)
		}
		async function buyTickets() {
			let num = MainJS.select_rnd_tickets(document.getElementById("ex6SliderVal").textContent)
			let arrTickets = MainJS.fill_tickets(num)
			await MainJS.buy_tickets()
				.catch(error => {
					if(error)
						console.error(error)
				})
		}
		async function checkTickets() {
			await MainJS.checkMyTicket()
				.then(res => result = res)
				.catch(error => {
					if(error)
						console.error(error)
				})
			console.log(result);
		}
		async function getReward() {
			if(result > 0) {
				await MainJS.getReward()
					.catch(error => {
						if(error)
							console.error(error)
					})
			} else {
				console.log("you didnt win!")
			}
		}
		$('#ex1').slider({
			formatter: function(value) {
				console.log(value)
				document.getElementById("ex6SliderVal").textContent = value;
				return 'Current value: ' + value;
			}
		});
		let count = 0;
		let count2 = 0;
		$('button#lineselect').click(function () {
			console.log(($(this)))
			if ($(this).hasClass('active')){
				$(this).removeClass('active')
				count--
				return
			}
			if (count >=5) return
			$(this).addClass('active')
			lines = +$(this).text()
			count++
		})
		$('button#lineselect2').click(function () {
			console.log(($(this)))
			if ($(this).hasClass('active')){
				$(this).removeClass('active')
				count2--
				return
			}
			if (count2 >=1) return
			$(this).addClass('active')
			count2++
		})